[diff]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Target }}"]
[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]
[edit]
    command = "nvim"
[git]
    autoCommit = true
    autoPush = true
[status]
    pathStyle = "relative"
